{% extends 'base.html.twig' %}

{% block title %}Hello CompanyController!{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.26.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.1/dist/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
    <script src="{{ asset('assets/js/chartjs-chart-financial.js') }}"></script>
{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 1000px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .tab-content { margin-top: 1em;}
    </style>

    <div class="example-wrapper">
        <h1>{{ company.name }} ✅</h1>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-table-tab" data-toggle="tab" href="#nav-table" role="tab" aria-controls="nav-table" aria-selected="true">Table view</a>
                <a class="nav-item nav-link" id="nav-chart-tab" data-toggle="tab" href="#nav-chart" role="tab" aria-controls="nav-chart" aria-selected="false">Chart view</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-table" role="tabpanel" aria-labelledby="nav-table-tab">
                <h2>Content for range between {{ company.startDate|date('Y-m-d') }} and {{ company.endDate|date('Y-m-d') }}</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Open</th>
                        <th scope="col">High</th>
                        <th scope="col">Low</th>
                        <th scope="col">Close</th>
                        <th scope="col">Volume</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for price in historical_quotes.prices %}
                    <tr>
                        <th>{{ price.date|date('Y-m-d') }}</th>
                        <td>{{ price.open }}</td>
                        <td>{{ price.high }}</td>
                        <td>{{ price.low }}</td>
                        <td>{{ price.close }}</td>
                        <td>{{ price.volume }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="nav-chart" role="tabpanel" aria-labelledby="nav-chart-tab">
                <canvas id="chart"></canvas>
                <script>
                    const ctx = document.getElementById('chart').getContext('2d');
                    ctx.canvas.width = 1000;
                    ctx.canvas.height = 500;

                    const data = JSON.parse('{{ historical_quotes|json_encode|raw }}');
                    const mappedData = data.prices.map(element => {
                        return {
                            x: element.date,
                            o: element.open,
                            h: element.high,
                            l: element.low,
                            c: element.close
                        }
                    })

                    new Chart(ctx, {
                        type: 'candlestick',
                        data: {
                            datasets: [{
                                label: 'Historical quotes',
                                data: mappedData
                            }]
                        }
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock %}
